.Sidebar {
    margin-top: 20px;
}

.Sidebar .menu {
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 25px;
    height: 87vh;
}

.Sidebar .garden-list {
    margin-bottom: 5px;
    border-radius: 5px;
}

.Sidebar .menu-list {
    border: 1px solid lightgray;
}

.Sidebar .menu-list .menu-list-li {
    border: 1px solid lightgray;
    border-radius: 3px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sidebar .menu-list .menu-list-li:hover {
    background-color: yellowgreen;
    color: white;
}

.Sidebar .menu-list .active {
    background-color: yellowgreen;
    color: white;
}

/* .Sidebar .menu-tltle{
    border-bottom: 1px solid lightgray;
    padding: 20px;
    margin-bottom: 0px;
}

.Sidebar .input-find{
    padding: 25px;
    border-bottom: 1px solid lightgray;
}

.Sidebar .menu-button{
    width: 100%;
}

.Sidebar .menu-dropdown{
    width: 100%;
}

.Sidebar .dropdown{
    width: 100%;
}

.Sidebar .dropdown-menu{
    width: 100%;
} */