.NavBar img {
    margin-right: 10px;
}

.NavBar .navbar-title{
    font-weight: 800;
    color: yellowgreen;
    font-size: x-large;
}

.NavBar .navbar {
    background-color: whitesmoke;
}

.NavBar .navbar-brand{
    margin-left: 30px;
}

.NavBar .navbar-menu{
    margin-right: 30px;
}
