.Sidebar {
    background-color: ivory;
}

.Sidebar .menu {
    text-align: center;
    border: 1px solid lightgray;
    height: 100vh;
}

.Sidebar .menu-tltle{
    border-bottom: 1px solid lightgray;
    padding: 20px;
    margin-bottom: 0px;
}

.Sidebar .input-find{
    padding: 25px;
    border-bottom: 1px solid lightgray;
}